main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  gap: 8px;
  width: calc(200% / 2);
  height: 80vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 10px;
}
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aqua;
}
main div#box02 {
  background-color: aqua;
  border: 1px solid #ccc;
  text-align: left;
}
main div#box01 {
  background-color: aqua;
  border: 1px solid #ccc;
  text-align: left;
}
main div#box03 {
  background-color: aqua;
  border: 1px solid #ccc;
  text-align: left;
}
