main {
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8px;
  width: calc(200% / 2);
  height: 80%vh;
}
main div#scooby {
  background-color: rgb(190, 240, 11);
  display: grid;
}
main div#tsheiso {
  background-color: #1472ec;
}
