main {
  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  gap: 8px;
  width: calc(200% / 2);
  height: 80%vh;
}
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
